@{
    ViewData["Title"] = "Home Page";
}
@model MyWolfApp.Models.HomeViewModel;

<div class="text-center">
    <h1 class="display-4">Welcome to Fargate: MywolfApp : V 1.0</h1>
    <h1 class="display-2;alert alert-success">Container Id is : @Model.HostId </h1>   
</div>
